.sign-in-page {
  padding: $padding;
  display: flex;
  // height: calc(100vh - 2*#{$padding});
  height: 100vh;
  .sign-in-block {
    color: #333333;
    flex: 9;
    padding: 30px 120px 30px 80px ;
    .sign-in-form {
      margin-bottom: 112px;
      .sign-in-form-header {
        margin-bottom: 61px;
        h1 {
          margin-bottom: 15px !important;
        }
      } 
      .password-container {
        position: relative;
        .password-link {
          position: absolute;
          right: 5%;
          bottom: 50%;
          transform: translateY(-20%);
        }
      }
    }
    // .password-container {
    //   position: relative;
    //   .password-link {
    //     position: absolute;
    //     right: 5%;
    //     bottom: 50%;
    //     transform: translateY(-20%);
    //   }
    // }
  }
}